Router.Domain/obj/project.assets.json
Router.Domain/obj/project.nuget.cache
Router.Domain/obj/Router.Domain.csproj.nuget.dgspec.json
Router.Domain/obj/Router.Domain.csproj.nuget.g.props
Router.Domain/obj/Router.Domain.csproj.nuget.g.targets
Router.Domain/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
Router.Domain/obj/Debug/net9.0/Router.Domain.AssemblyInfo.cs
Router.Domain/obj/Debug/net9.0/Router.Domain.AssemblyInfoInputs.cache
Router.Domain/obj/Debug/net9.0/Router.Domain.assets.cache
Router.Domain/obj/Debug/net9.0/Router.Domain.GeneratedMSBuildEditorConfig.editorconfig
Router.Domain/obj/Debug/net9.0/Router.Domain.GlobalUsings.g.cs
Router.Contracts/obj/project.assets.json
Router.Contracts/obj/project.nuget.cache
Router.Contracts/obj/Router.Contracts.csproj.nuget.dgspec.json
Router.Contracts/obj/Router.Contracts.csproj.nuget.g.props
Router.Contracts/obj/Router.Contracts.csproj.nuget.g.targets
Router.Contracts/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
Router.Contracts/obj/Debug/net9.0/Router.Contracts.AssemblyInfo.cs
Router.Contracts/obj/Debug/net9.0/Router.Contracts.AssemblyInfoInputs.cache
Router.Contracts/obj/Debug/net9.0/Router.Contracts.assets.cache
Router.Contracts/obj/Debug/net9.0/Router.Contracts.GeneratedMSBuildEditorConfig.editorconfig
Router.Contracts/obj/Debug/net9.0/Router.Contracts.GlobalUsings.g.cs
Router.Api/obj/project.assets.json
Router.Api/obj/project.nuget.cache
Router.Api/obj/Router.Api.csproj.nuget.dgspec.json
Router.Api/obj/Router.Api.csproj.nuget.g.props
Router.Api/obj/Router.Api.csproj.nuget.g.targets
Router.Api/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
Router.Api/obj/Debug/net9.0/Router.Api.AssemblyInfo.cs
Router.Api/obj/Debug/net9.0/Router.Api.AssemblyInfoInputs.cache
Router.Api/obj/Debug/net9.0/Router.Api.assets.cache
Router.Api/obj/Debug/net9.0/Router.Api.csproj.AssemblyReference.cache
Router.Api/obj/Debug/net9.0/Router.Api.GeneratedMSBuildEditorConfig.editorconfig
Router.Api/obj/Debug/net9.0/Router.Api.GlobalUsings.g.cs
Router.Core/obj/project.assets.json
Router.Core/obj/project.nuget.cache
Router.Core/obj/Router.Core.csproj.nuget.dgspec.json
Router.Core/obj/Router.Core.csproj.nuget.g.props
Router.Core/obj/Router.Core.csproj.nuget.g.targets
Router.Core/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
Router.Core/obj/Debug/net9.0/Router.Core.AssemblyInfo.cs
Router.Core/obj/Debug/net9.0/Router.Core.AssemblyInfoInputs.cache
Router.Core/obj/Debug/net9.0/Router.Core.assets.cache
Router.Core/obj/Debug/net9.0/Router.Core.GeneratedMSBuildEditorConfig.editorconfig
Router.Core/obj/Debug/net9.0/Router.Core.GlobalUsings.g.cs
Router/Router.Domain/obj/project.assets.json
Router/Router.Domain/obj/project.nuget.cache
Router/Router.Domain/obj/Router.Domain.csproj.nuget.dgspec.json
Router/Router.Domain/obj/Router.Domain.csproj.nuget.g.props
Router/Router.Domain/obj/Router.Domain.csproj.nuget.g.targets
Router/Router.Domain/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
Router/Router.Domain/obj/Debug/net9.0/Router.Domain.AssemblyInfo.cs
Router/Router.Domain/obj/Debug/net9.0/Router.Domain.AssemblyInfoInputs.cache
Router/Router.Domain/obj/Debug/net9.0/Router.Domain.assets.cache
Router/Router.Domain/obj/Debug/net9.0/Router.Domain.GeneratedMSBuildEditorConfig.editorconfig
Router/Router.Domain/obj/Debug/net9.0/Router.Domain.GlobalUsings.g.cs
Router/External/obj/External.csproj.nuget.dgspec.json
Router/External/obj/External.csproj.nuget.g.props
Router/External/obj/External.csproj.nuget.g.targets
Router/External/obj/project.assets.json
Router/External/obj/project.nuget.cache
Router/External/obj/Router.External.csproj.nuget.dgspec.json
Router/External/obj/Router.External.csproj.nuget.g.props
Router/External/obj/Router.External.csproj.nuget.g.targets
Router/External/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
Router/External/obj/Debug/net9.0/External.AssemblyInfo.cs
Router/External/obj/Debug/net9.0/External.AssemblyInfoInputs.cache
Router/External/obj/Debug/net9.0/External.assets.cache
Router/External/obj/Debug/net9.0/External.GeneratedMSBuildEditorConfig.editorconfig
Router/External/obj/Debug/net9.0/External.GlobalUsings.g.cs
Router/External/obj/Debug/net9.0/Router.External.AssemblyInfo.cs
Router/External/obj/Debug/net9.0/Router.External.AssemblyInfoInputs.cache
Router/External/obj/Debug/net9.0/Router.External.assets.cache
Router/External/obj/Debug/net9.0/Router.External.GeneratedMSBuildEditorConfig.editorconfig
Router/External/obj/Debug/net9.0/Router.External.GlobalUsings.g.cs
Router/External/obj/Debug/net9.0/Router.External.csproj.AssemblyReference.cache
Router/Contracts/obj/Contracts.csproj.nuget.dgspec.json
Router/Contracts/obj/Contracts.csproj.nuget.g.props
Router/Contracts/obj/Contracts.csproj.nuget.g.targets
Router/Contracts/obj/project.assets.json
Router/Contracts/obj/project.nuget.cache
Router/Contracts/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
Router/Contracts/obj/Debug/net9.0/Contracts.AssemblyInfo.cs
Router/Contracts/obj/Debug/net9.0/Contracts.AssemblyInfoInputs.cache
Router/Contracts/obj/Debug/net9.0/Contracts.assets.cache
Router/Contracts/obj/Debug/net9.0/Contracts.GeneratedMSBuildEditorConfig.editorconfig
Router/Contracts/obj/Debug/net9.0/Contracts.GlobalUsings.g.cs
Router/Core/obj/Core.csproj.nuget.dgspec.json
Router/Core/obj/Core.csproj.nuget.g.props
Router/Core/obj/Core.csproj.nuget.g.targets
Router/Core/obj/project.assets.json
Router/Core/obj/project.nuget.cache
Router/Core/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
Router/Core/obj/Debug/net9.0/Core.AssemblyInfo.cs
Router/Core/obj/Debug/net9.0/Core.AssemblyInfoInputs.cache
Router/Core/obj/Debug/net9.0/Core.assets.cache
Router/Core/obj/Debug/net9.0/Core.GeneratedMSBuildEditorConfig.editorconfig
Router/Core/obj/Debug/net9.0/Core.GlobalUsings.g.cs
Router/Router.Core/obj/project.assets.json
Router/Router.Core/obj/project.nuget.cache
Router/Router.Core/obj/Router.Core.csproj.nuget.dgspec.json
Router/Router.Core/obj/Router.Core.csproj.nuget.g.props
Router/Router.Core/obj/Router.Core.csproj.nuget.g.targets
Router/Router.Core/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
Router/Router.Core/obj/Debug/net9.0/Router.Core.AssemblyInfo.cs
Router/Router.Core/obj/Debug/net9.0/Router.Core.AssemblyInfoInputs.cache
Router/Router.Core/obj/Debug/net9.0/Router.Core.assets.cache
Router/Router.Core/obj/Debug/net9.0/Router.Core.GeneratedMSBuildEditorConfig.editorconfig
Router/Router.Core/obj/Debug/net9.0/Router.Core.GlobalUsings.g.cs
Router/Router.External/obj/project.assets.json
Router/Router.External/obj/project.nuget.cache
Router/Router.External/obj/Router.External.csproj.nuget.dgspec.json
Router/Router.External/obj/Router.External.csproj.nuget.g.props
Router/Router.External/obj/Router.External.csproj.nuget.g.targets
Router/Router.External/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
Router/Router.External/obj/Debug/net9.0/Router.External.AssemblyInfo.cs
Router/Router.External/obj/Debug/net9.0/Router.External.AssemblyInfoInputs.cache
Router/Router.External/obj/Debug/net9.0/Router.External.assets.cache
Router/Router.External/obj/Debug/net9.0/Router.External.csproj.AssemblyReference.cache
Router/Router.External/obj/Debug/net9.0/Router.External.GeneratedMSBuildEditorConfig.editorconfig
Router/Router.External/obj/Debug/net9.0/Router.External.GlobalUsings.g.cs
Router/Router.Api/obj/project.assets.json
Router/Router.Api/obj/project.nuget.cache
Router/Router.Api/obj/Router.Api.csproj.nuget.dgspec.json
Router/Router.Api/obj/Router.Api.csproj.nuget.g.props
Router/Router.Api/obj/Router.Api.csproj.nuget.g.targets
Router/Router.Api/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
Router/Router.Api/obj/Debug/net9.0/Router.Api.AssemblyInfo.cs
Router/Router.Api/obj/Debug/net9.0/Router.Api.AssemblyInfoInputs.cache
Router/Router.Api/obj/Debug/net9.0/Router.Api.assets.cache
Router/Router.Api/obj/Debug/net9.0/Router.Api.csproj.AssemblyReference.cache
Router/Router.Api/obj/Debug/net9.0/Router.Api.GeneratedMSBuildEditorConfig.editorconfig
Router/Router.Api/obj/Debug/net9.0/Router.Api.GlobalUsings.g.cs
Router/Router.Core/obj/Debug/net9.0/Router.Core.csproj.AssemblyReference.cache
Router/Router.Contracts/obj/project.assets.json
Router/Router.Contracts/obj/project.nuget.cache
Router/Router.Contracts/obj/Router.Contracts.csproj.nuget.dgspec.json
Router/Router.Contracts/obj/Router.Contracts.csproj.nuget.g.props
Router/Router.Contracts/obj/Router.Contracts.csproj.nuget.g.targets
Router/Router.Contracts/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
Router/Router.Contracts/obj/Debug/net9.0/Router.Contracts.AssemblyInfo.cs
Router/Router.Contracts/obj/Debug/net9.0/Router.Contracts.AssemblyInfoInputs.cache
Router/Router.Contracts/obj/Debug/net9.0/Router.Contracts.assets.cache
Router/Router.Contracts/obj/Debug/net9.0/Router.Contracts.GeneratedMSBuildEditorConfig.editorconfig
Router/Router.Contracts/obj/Debug/net9.0/Router.Contracts.GlobalUsings.g.cs
Router/Router.Api/bin/Debug/net9.0/appsettings.Development.json
Router/Router.Api/bin/Debug/net9.0/appsettings.json
Router/Router.Api/bin/Debug/net9.0/Google.Protobuf.dll
Router/Router.Api/bin/Debug/net9.0/ICSharpCode.SharpZipLib.dll
Router/Router.Api/bin/Debug/net9.0/Microsoft.AspNetCore.OpenApi.dll
Router/Router.Api/bin/Debug/net9.0/Microsoft.Bcl.Memory.dll
Router/Router.Api/bin/Debug/net9.0/Microsoft.ML.Core.dll
Router/Router.Api/bin/Debug/net9.0/Microsoft.ML.CpuMath.dll
Router/Router.Api/bin/Debug/net9.0/Microsoft.ML.Data.dll
Router/Router.Api/bin/Debug/net9.0/Microsoft.ML.DataView.dll
Router/Router.Api/bin/Debug/net9.0/Microsoft.ML.ImageAnalytics.dll
Router/Router.Api/bin/Debug/net9.0/Microsoft.ML.KMeansClustering.dll
Router/Router.Api/bin/Debug/net9.0/Microsoft.ML.PCA.dll
Router/Router.Api/bin/Debug/net9.0/Microsoft.ML.StandardTrainers.dll
Router/Router.Api/bin/Debug/net9.0/Microsoft.ML.Tokenizers.dll
Router/Router.Api/bin/Debug/net9.0/Microsoft.ML.TorchSharp.dll
Router/Router.Api/bin/Debug/net9.0/Microsoft.ML.Transforms.dll
Router/Router.Api/bin/Debug/net9.0/Microsoft.OpenApi.dll
Router/Router.Api/bin/Debug/net9.0/Newtonsoft.Json.dll
Router/Router.Api/bin/Debug/net9.0/Router.Api.deps.json
Router/Router.Api/bin/Debug/net9.0/Router.Api.dll
Router/Router.Api/bin/Debug/net9.0/Router.Api.exe
Router/Router.Api/bin/Debug/net9.0/Router.Api.pdb
Router/Router.Api/bin/Debug/net9.0/Router.Api.runtimeconfig.json
Router/Router.Api/bin/Debug/net9.0/Router.Api.staticwebassets.endpoints.json
Router/Router.Api/bin/Debug/net9.0/Router.Core.dll
Router/Router.Api/bin/Debug/net9.0/Router.Core.pdb
Router/Router.Api/bin/Debug/net9.0/Router.Domain.dll
Router/Router.Api/bin/Debug/net9.0/Router.Domain.pdb
Router/Router.Api/bin/Debug/net9.0/SkiaSharp.dll
Router/Router.Api/bin/Debug/net9.0/System.CodeDom.dll
Router/Router.Api/bin/Debug/net9.0/System.Numerics.Tensors.dll
Router/Router.Api/bin/Debug/net9.0/TorchSharp.dll
Router/Router.Api/bin/Debug/net9.0/runtimes/linux-arm/native/libLdaNative.so
Router/Router.Api/bin/Debug/net9.0/runtimes/linux-arm/native/libLdaNative.so.dbg
Router/Router.Api/bin/Debug/net9.0/runtimes/linux-arm/native/libSkiaSharp.so
Router/Router.Api/bin/Debug/net9.0/runtimes/linux-arm64/native/libLdaNative.so
Router/Router.Api/bin/Debug/net9.0/runtimes/linux-arm64/native/libLdaNative.so.dbg
Router/Router.Api/bin/Debug/net9.0/runtimes/linux-arm64/native/libSkiaSharp.so
Router/Router.Api/bin/Debug/net9.0/runtimes/linux-musl-x64/native/libSkiaSharp.so
Router/Router.Api/bin/Debug/net9.0/runtimes/linux-x64/native/libLdaNative.so
Router/Router.Api/bin/Debug/net9.0/runtimes/linux-x64/native/libLdaNative.so.dbg
Router/Router.Api/bin/Debug/net9.0/runtimes/linux-x64/native/libLibTorchSharp.so
Router/Router.Api/bin/Debug/net9.0/runtimes/linux-x64/native/libSkiaSharp.so
Router/Router.Api/bin/Debug/net9.0/runtimes/osx/native/libSkiaSharp.dylib
Router/Router.Api/bin/Debug/net9.0/runtimes/osx-arm64/native/libLdaNative.dylib
Router/Router.Api/bin/Debug/net9.0/runtimes/osx-arm64/native/libLdaNative.dylib.dwarf
Router/Router.Api/bin/Debug/net9.0/runtimes/osx-arm64/native/libLibTorchSharp.dylib
Router/Router.Api/bin/Debug/net9.0/runtimes/osx-x64/native/libLdaNative.dylib
Router/Router.Api/bin/Debug/net9.0/runtimes/osx-x64/native/libLdaNative.dylib.dwarf
Router/Router.Api/bin/Debug/net9.0/runtimes/osx-x64/native/libLibTorchSharp.dylib
Router/Router.Api/bin/Debug/net9.0/runtimes/win-arm64/native/LdaNative.dll
Router/Router.Api/bin/Debug/net9.0/runtimes/win-arm64/native/libSkiaSharp.dll
Router/Router.Api/bin/Debug/net9.0/runtimes/win-x64/native/LdaNative.dll
Router/Router.Api/bin/Debug/net9.0/runtimes/win-x64/native/libSkiaSharp.dll
Router/Router.Api/bin/Debug/net9.0/runtimes/win-x64/native/LibTorchSharp.dll
Router/Router.Api/bin/Debug/net9.0/runtimes/win-x86/native/LdaNative.dll
Router/Router.Api/bin/Debug/net9.0/runtimes/win-x86/native/libSkiaSharp.dll
Router/Router.Api/obj/Debug/net9.0/apphost.exe
Router/Router.Api/obj/Debug/net9.0/Router.Api.csproj.CoreCompileInputs.cache
Router/Router.Api/obj/Debug/net9.0/Router.Api.csproj.FileListAbsolute.txt
Router/Router.Api/obj/Debug/net9.0/Router.Api.csproj.Up2Date
Router/Router.Api/obj/Debug/net9.0/Router.Api.dll
Router/Router.Api/obj/Debug/net9.0/Router.Api.genruntimeconfig.cache
Router/Router.Api/obj/Debug/net9.0/Router.Api.MvcApplicationPartsAssemblyInfo.cache
Router/Router.Api/obj/Debug/net9.0/Router.Api.MvcApplicationPartsAssemblyInfo.cs
Router/Router.Api/obj/Debug/net9.0/Router.Api.pdb
Router/Router.Api/obj/Debug/net9.0/Router.Api.sourcelink.json
Router/Router.Api/obj/Debug/net9.0/staticwebassets.build.endpoints.json
Router/Router.Api/obj/Debug/net9.0/staticwebassets.build.json
Router/Router.Api/obj/Debug/net9.0/ref/Router.Api.dll
Router/Router.Api/obj/Debug/net9.0/refint/Router.Api.dll
Router/Router.Api/obj/Debug/net9.0/staticwebassets/msbuild.build.Router.Api.props
Router/Router.Api/obj/Debug/net9.0/staticwebassets/msbuild.buildMultiTargeting.Router.Api.props
Router/Router.Api/obj/Debug/net9.0/staticwebassets/msbuild.buildTransitive.Router.Api.props
Router/Router.Core/DependencyInjection.cs
Router/Router.Core/bin/Debug/net9.0/Router.Core.deps.json
Router/Router.Core/bin/Debug/net9.0/Router.Core.dll
Router/Router.Core/bin/Debug/net9.0/Router.Core.pdb
Router/Router.Core/bin/Debug/net9.0/Router.Domain.dll
Router/Router.Core/bin/Debug/net9.0/Router.Domain.pdb
Router/Router.Core/obj/Debug/net9.0/Router.C.805A2A22.Up2Date
Router/Router.Core/obj/Debug/net9.0/Router.Core.csproj.CoreCompileInputs.cache
Router/Router.Core/obj/Debug/net9.0/Router.Core.csproj.FileListAbsolute.txt
Router/Router.Core/obj/Debug/net9.0/Router.Core.dll
Router/Router.Core/obj/Debug/net9.0/Router.Core.pdb
Router/Router.Core/obj/Debug/net9.0/Router.Core.sourcelink.json
Router/Router.Core/obj/Debug/net9.0/ref/Router.Core.dll
Router/Router.Core/obj/Debug/net9.0/refint/Router.Core.dll
Router/Router.Domain/bin/Debug/net9.0/Router.Domain.deps.json
Router/Router.Domain/bin/Debug/net9.0/Router.Domain.dll
Router/Router.Domain/bin/Debug/net9.0/Router.Domain.pdb
Router/Router.Domain/obj/Debug/net9.0/Router.Domain.csproj.CoreCompileInputs.cache
Router/Router.Domain/obj/Debug/net9.0/Router.Domain.csproj.FileListAbsolute.txt
Router/Router.Domain/obj/Debug/net9.0/Router.Domain.dll
Router/Router.Domain/obj/Debug/net9.0/Router.Domain.pdb
Router/Router.Domain/obj/Debug/net9.0/Router.Domain.sourcelink.json
Router/Router.Domain/obj/Debug/net9.0/ref/Router.Domain.dll
Router/Router.Domain/obj/Debug/net9.0/refint/Router.Domain.dll
Router/Router.External/obj/Debug/net9.0/Router.External.csproj.CoreCompileInputs.cache
Router/Router.External/obj/Debug/net9.0/Router.External.csproj.FileListAbsolute.txt
Router/Router.External/obj/Debug/net9.0/Router.External.sourcelink.json
