Router.Domain/obj/project.assets.json
Router.Domain/obj/project.nuget.cache
Router.Domain/obj/Router.Domain.csproj.nuget.dgspec.json
Router.Domain/obj/Router.Domain.csproj.nuget.g.props
Router.Domain/obj/Router.Domain.csproj.nuget.g.targets
Router.Domain/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
Router.Domain/obj/Debug/net9.0/Router.Domain.AssemblyInfo.cs
Router.Domain/obj/Debug/net9.0/Router.Domain.AssemblyInfoInputs.cache
Router.Domain/obj/Debug/net9.0/Router.Domain.assets.cache
Router.Domain/obj/Debug/net9.0/Router.Domain.GeneratedMSBuildEditorConfig.editorconfig
Router.Domain/obj/Debug/net9.0/Router.Domain.GlobalUsings.g.cs
Router.Contracts/obj/project.assets.json
Router.Contracts/obj/project.nuget.cache
Router.Contracts/obj/Router.Contracts.csproj.nuget.dgspec.json
Router.Contracts/obj/Router.Contracts.csproj.nuget.g.props
Router.Contracts/obj/Router.Contracts.csproj.nuget.g.targets
Router.Contracts/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
Router.Contracts/obj/Debug/net9.0/Router.Contracts.AssemblyInfo.cs
Router.Contracts/obj/Debug/net9.0/Router.Contracts.AssemblyInfoInputs.cache
Router.Contracts/obj/Debug/net9.0/Router.Contracts.assets.cache
Router.Contracts/obj/Debug/net9.0/Router.Contracts.GeneratedMSBuildEditorConfig.editorconfig
Router.Contracts/obj/Debug/net9.0/Router.Contracts.GlobalUsings.g.cs
