Router.Domain/obj/project.assets.json
Router.Domain/obj/project.nuget.cache
Router.Domain/obj/Router.Domain.csproj.nuget.dgspec.json
Router.Domain/obj/Router.Domain.csproj.nuget.g.props
Router.Domain/obj/Router.Domain.csproj.nuget.g.targets
Router.Domain/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
Router.Domain/obj/Debug/net9.0/Router.Domain.AssemblyInfo.cs
Router.Domain/obj/Debug/net9.0/Router.Domain.AssemblyInfoInputs.cache
Router.Domain/obj/Debug/net9.0/Router.Domain.assets.cache
Router.Domain/obj/Debug/net9.0/Router.Domain.GeneratedMSBuildEditorConfig.editorconfig
Router.Domain/obj/Debug/net9.0/Router.Domain.GlobalUsings.g.cs
Router.Contracts/obj/project.assets.json
Router.Contracts/obj/project.nuget.cache
Router.Contracts/obj/Router.Contracts.csproj.nuget.dgspec.json
Router.Contracts/obj/Router.Contracts.csproj.nuget.g.props
Router.Contracts/obj/Router.Contracts.csproj.nuget.g.targets
Router.Contracts/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
Router.Contracts/obj/Debug/net9.0/Router.Contracts.AssemblyInfo.cs
Router.Contracts/obj/Debug/net9.0/Router.Contracts.AssemblyInfoInputs.cache
Router.Contracts/obj/Debug/net9.0/Router.Contracts.assets.cache
Router.Contracts/obj/Debug/net9.0/Router.Contracts.GeneratedMSBuildEditorConfig.editorconfig
Router.Contracts/obj/Debug/net9.0/Router.Contracts.GlobalUsings.g.cs
Router.Api/obj/project.assets.json
Router.Api/obj/project.nuget.cache
Router.Api/obj/Router.Api.csproj.nuget.dgspec.json
Router.Api/obj/Router.Api.csproj.nuget.g.props
Router.Api/obj/Router.Api.csproj.nuget.g.targets
Router.Api/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
Router.Api/obj/Debug/net9.0/Router.Api.AssemblyInfo.cs
Router.Api/obj/Debug/net9.0/Router.Api.AssemblyInfoInputs.cache
Router.Api/obj/Debug/net9.0/Router.Api.assets.cache
Router.Api/obj/Debug/net9.0/Router.Api.csproj.AssemblyReference.cache
Router.Api/obj/Debug/net9.0/Router.Api.GeneratedMSBuildEditorConfig.editorconfig
Router.Api/obj/Debug/net9.0/Router.Api.GlobalUsings.g.cs
Router.Core/obj/project.assets.json
Router.Core/obj/project.nuget.cache
Router.Core/obj/Router.Core.csproj.nuget.dgspec.json
Router.Core/obj/Router.Core.csproj.nuget.g.props
Router.Core/obj/Router.Core.csproj.nuget.g.targets
Router.Core/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
Router.Core/obj/Debug/net9.0/Router.Core.AssemblyInfo.cs
Router.Core/obj/Debug/net9.0/Router.Core.AssemblyInfoInputs.cache
Router.Core/obj/Debug/net9.0/Router.Core.assets.cache
Router.Core/obj/Debug/net9.0/Router.Core.GeneratedMSBuildEditorConfig.editorconfig
Router.Core/obj/Debug/net9.0/Router.Core.GlobalUsings.g.cs
Router/Router.Domain/obj/project.assets.json
Router/Router.Domain/obj/project.nuget.cache
Router/Router.Domain/obj/Router.Domain.csproj.nuget.dgspec.json
Router/Router.Domain/obj/Router.Domain.csproj.nuget.g.props
Router/Router.Domain/obj/Router.Domain.csproj.nuget.g.targets
Router/Router.Domain/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
Router/Router.Domain/obj/Debug/net9.0/Router.Domain.AssemblyInfo.cs
Router/Router.Domain/obj/Debug/net9.0/Router.Domain.AssemblyInfoInputs.cache
Router/Router.Domain/obj/Debug/net9.0/Router.Domain.assets.cache
Router/Router.Domain/obj/Debug/net9.0/Router.Domain.GeneratedMSBuildEditorConfig.editorconfig
Router/Router.Domain/obj/Debug/net9.0/Router.Domain.GlobalUsings.g.cs
